<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Model for Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Select Model Type</h1>
    <form action="/" method="post">
        <input type="radio" id="Linear" name="model_type" value="Linear">
        <label for="Linear">Linear Regression</label><br>
        <input type="radio" id="RandomForest" name="model_type" value="RandomForest">
        <label for="RandomForest">Random Forest</label><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>
